.jumbotron {
    background-color: rgb(17, 0, 255);
    color: white;
    margin-top: 50px;
}
.btn {
    background-color: rebeccapurple;
    color:white;

}
.footer {
    padding: 10px 10px 0 10px;
    background-color:yellow;
    margin-bottom:m opx;
    margin-top: 10px;

}
.card-hotel{
    flex:1 150px;
    padding:2px 5px 2px 5px;
    margin-top: 10px;

}
.btn-reserva{
    width: 100%;;
    border-radius: 0px;
}
.tab-content{
    padding-top: 10px;
}