@blue:#0261fa;

.margenes(@top,@bottom) {
    margin-top: @top;
    margin-bottom: @bottom;
}
.jumbotron {
    background-color:@blue;
    color: white;
    .margenes(50px,0px);
}

.footer {
    padding: 10px 10px 0 10px;
    background-color:@blue;
    .margenes(50px,0px);

}
.card-hotel{
    flex:1 150px;
    padding:2px 5px 2px 5px;
    .margenes(10px,0px);

}
.btn-reserva{
    width: 100%;;
    border-radius: 0px;
}
.tab-content{
    padding-top: 10px;
}