$blue:#0261fa;

@mixin margenes($top,$bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}
.jumbotron {
    background-color:$blue;
    color: white;
    @include margenes(0px,0px)
}

.footer {
    padding: 10px 10px 0 10px;
    background-color:$blue;
    @include margenes(50px,0px)

}
.card-hotel{
    flex:1 150px;
    padding:2px 5px 2px 5px;
    @include margenes(10px,0px)

}
.btn-reserva{
    width: 100%;;
    border-radius: 0px;
}
.tab-content{
    padding-top: 10px;
}