.jumbotron {
  background-color: #0261fa;
  color: white;
  margin-top: 0px;
  margin-bottom: 0px; }

.footer {
  padding: 10px 10px 0 10px;
  background-color: #0261fa;
  margin-top: 50px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 150px;
  padding: 2px 5px 2px 5px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.tab-content {
  padding-top: 10px; }
